:root {
  --speed: 2;
  --delay-step: 0.25s;
  --left-step: 20px;
  --bg-colour: red;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  margin: 0 calc(50vw - 40px);
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--bg-colour);
  border-radius: 50%;
  opacity: 0;
  animation-name: loading;
  animation-duration: calc(var(--speed) * 1s);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: background-color calc(var(--speed) * 1s) ease-in-out;
}

.dot-wrapper {
  position: absolute;
  animation-name: loading-steps;
  animation-duration: calc(var(--speed) * 1s);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.dot-wrapper:nth-child(1),
.dot-wrapper:nth-child(1) > .dot {
  animation-delay: calc(var(--speed) * calc(var(--delay-step) * 1));
}

.dot-wrapper:nth-child(2),
.dot-wrapper:nth-child(2) > .dot {
  animation-delay: calc(var(--speed) * calc(var(--delay-step) * 2));
}

.dot-wrapper:nth-child(3),
.dot-wrapper:nth-child(3) > .dot {
  animation-delay: calc(var(--speed) * calc(var(--delay-step) * 3));
}

.dot-wrapper:nth-child(4),
.dot-wrapper:nth-child(4) > .dot {
  animation-delay: calc(var(--speed) * calc(var(--delay-step) * 4));
}

@keyframes loading {
  0%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes loading-steps {
  0% {
    left: 0;
  }
  25% {
    left: calc(var(--left-step) * 1);
  }
  50% {
    left: calc(var(--left-step) * 2);
  }
  75% {
    left: calc(var(--left-step) * 3);
  }
  100% {
    left: calc(var(--left-step) * 4);
  }
}

@keyframes colour-loop {
  0%, 100% {
    --bg-colour: red;
  }
  20% {
    --bg-colour: yellow;
  }
  50% {
    --bg-colour: blue;
  }
  80% {
    --bg-colour: purple;
  }
}